.no-padding{
    padding: 0;
}

.white-text{
    color:#fff;
}

.bold{
    color: #1e3799;
    font-weight: bold;
}

.green-bg{
    background-color: #22b573;
}

.green-bg ion-select{
    color: white !important;
    font-size: 20px;
    margin-top: 25px;
}
