<ion-header>
   <ion-toolbar>
     <ion-buttons slot="start" fill="clear">
       <ion-back-button defaultHref="/wallet" text="Regresar" class="text-white" fill="clear"></ion-back-button>
     </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="fullheight xc">
	<div class="circulo1">
   	   <div class="circulo2">
              <h2>SC</h2>
           </div>
        </div>
      </ion-col>
      <ion-col size="10">
        <h5 class="ion-text-center text-white ion-no-padding ion-no-margin">Stefano Chavez</h5>
        <h6 class="ion-text-center ion-no-padding ion-no-margin text-success2">
          Cuenta Personal
          <ion-icon name="caret-down-outline" color="success2" class="icon-15 margin-top-2"></ion-icon>
        </h6>
      </ion-col>
      <ion-col size="10">
        <h5 class="ion-text-justify text-white ion-no-padding">Servicios de Cuenta</h5>
      </ion-col>
      <ion-col size="12">
        <ion-item color="transparent" lines="none">
              <ion-img [src]="'../../../assets/transferencia.svg'" slot="start" style="width:10%;"></ion-img>
              <ion-label class="ion-text-wrap">
                <h2 class="text-white">Transferencia</h2>
              </ion-label>
        </ion-item>
        <ion-item  color="transparent" lines="none"> 
            <ion-icon name="wallet-outline" class="text-white" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              <h2 class="text-white">Balances</h2>
            </ion-label>
        </ion-item>
        <ion-item  color="transparent" lines="none">
            <ion-icon name="sync-outline" class="text-white" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
               <h2 class="text-white">Conversión</h2>
            </ion-label>
         </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> 
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cartera" (click)="wallet()">
       <ion-icon name="wallet-sharp"></ion-icon>
      <ion-label>Cartera</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tarjetas" (click)="selectCard()">
     <ion-icon name="card-sharp"></ion-icon>      
     <ion-label>Tarjetas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="enviar">
      <ion-icon name="swap-horizontal-sharp"></ion-icon>
      <ion-label>Enviar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fondos">
      <ion-icon name="add-circle-sharp"></ion-icon>
      <ion-label>Añadir Fondos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mas">
      <ion-icon name="list"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>

