<ion-header>
   <ion-toolbar>
      <ion-title class="text-white ion-text-center">Añadir Fondos</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
   <ion-grid>
      <ion-row class="ion-justify-content-center">
         <ion-col size="9" class="ion-text-center ion-no-margin ion-no-padding">
            <ion-item color="transparent" lines="none" class="ion-margin-top">
              <span class="text-white size-text-big ion-no-margin ion-no-padding">$&nbsp;</span>
              <ion-input type="tel" class="size-text-big" autofocus="true" #inputId></ion-input>
            </ion-item>
         </ion-col>  
         <ion-col size="10" class="position-buttom">
            <ion-button size="small" expand="block" color="success" (click)="addFundsTerm()">
               <h6 class="small-text">Continuar</h6>
            </ion-button>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>
   <ion-toolbar>
   <ion-tabs>
      <ion-tab-bar slot="bottom">
         <ion-tab-button tab="cartera" (click)="wallet()">
            <ion-icon name="wallet-sharp"></ion-icon>
            <ion-label>Cartera</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="tarjetas" (click)="selectCard()">
            <ion-icon name="card-sharp"></ion-icon>
            <ion-label>Tarjetas</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="enviar">
            <ion-icon name="swap-horizontal-sharp"></ion-icon>
            <ion-label>Enviar</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="fondos">
            <ion-icon name="add-circle-sharp"></ion-icon>
            <ion-label>Añadir Fondos</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="mas">
            <ion-icon name="list"></ion-icon>
            <ion-label>Más</ion-label>
         </ion-tab-button>
      </ion-tab-bar>
   </ion-tabs>
  </ion-toolbar>


