<ion-header>
  <ion-toolbar>

    <ion-title class="ion-text-center text-white">Verificar residencia</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="ion-justify-content-center">

      <ion-col size="10">

        <h6 class="ion-text-center small-text ion-no-padding">Sube uno de estos documentos</h6>
        
      </ion-col>

      <ion-col size="12">

        <ion-item color="transparent" lines="none" (click)="bankStatement()">

              <ion-icon name="document-text-outline" class="text-white" slot="start"></ion-icon>

              <ion-label class="ion-text-wrap">

                <h2 class="text-white">Estado de cuenta bancario</h2>

                <h6 class="ion-text-justify small-text ion-no-padding">Sube una foto o un escaneado de tu cuenta bancaria.</h6>

              </ion-label>

        </ion-item>

        <ion-item  color="transparent" lines="none" (click)="invoice()"> 

            <ion-icon name="document-text-outline" class="text-white"class="text-white" slot="start"></ion-icon>

            <ion-label class="ion-text-wrap">

              <h2 class="text-white">Factura</h2>

              <h6 class="ion-text-justify small-text ion-no-padding">Sube una foto o un escaneado de una factura de servicios básicos.</h6>

            </ion-label>

        </ion-item>

        <ion-item  color="transparent" lines="none" (click)="taxDocument()">

            <ion-icon name="document-text-outline" class="text-white" slot="start"></ion-icon>

             <ion-label class="ion-text-wrap">

               <h2 class="text-white">Documento tributario</h2>

              <h6 class="ion-text-justify small-text ion-no-padding">Sube una foto o un escaneado de tu documento tributario con dirección.</h6>

            </ion-label>
         </ion-item>


      </ion-col>
      

    </ion-row>

  </ion-grid> 

  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cartera">
       <ion-icon name="wallet-sharp"></ion-icon>
      <ion-label>Cartera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tarjetas">
     <ion-icon name="card-sharp"></ion-icon>      
     <ion-label>Tarjetas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="enviar">
      <ion-icon name="swap-horizontal-sharp"></ion-icon>
      <ion-label>Enviar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fondos">
      <ion-icon name="add-circle-sharp"></ion-icon>
      <ion-label>Añadir Fondos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mas">
      <ion-icon name="list"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  
</ion-tabs>


</ion-content>

