<ion-header>
   <ion-toolbar>
      <ion-title class="text-white ion-text-center">Paga tu transferencia</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-item color="transparent" lines="none"  (click)="sendBankTransfer()">
              <ion-img [src]="'../../../assets/transferencia.svg'" slot="start" style="width:11%;"></ion-img>
              <ion-label class="ion-text-wrap">
                <h2 class="text-white">Transferencia Bancaria</h2>
              </ion-label>
        </ion-item>
        <ion-item color="transparent" lines="none">
              <ion-img [src]="'../../../assets/Logo.png'" slot="start" style="width:11%;"></ion-img>
              <ion-label class="ion-text-wrap">
                <h2 class="text-white">Tu Balance</h2>
              </ion-label>
        </ion-item>
        <ion-item  color="transparent" lines="none">
              <ion-img [src]="'../../../assets/moneda.svg'" slot="start" style="width:8%;"></ion-img>
            <ion-label class="ion-text-wrap">
               <h2 class="text-white">Web Pay (Pronto)</h2>
            </ion-label>
         </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> 
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cartera" (click)="wallet()">
       <ion-icon name="wallet-sharp"></ion-icon>
      <ion-label>Cartera</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tarjetas" (click)="selectCard()">
     <ion-icon name="card-sharp"></ion-icon>      
     <ion-label>Tarjetas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="enviar">
      <ion-icon name="swap-horizontal-sharp"></ion-icon>
      <ion-label>Enviar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fondos">
      <ion-icon name="add-circle-sharp"></ion-icon>
      <ion-label>Añadir Fondos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mas">
      <ion-icon name="list"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>

