<ion-header>
   <ion-toolbar>
      <ion-title class="text-white ion-text-center">Transferencia Bancaria</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
   <ion-grid>
      <ion-row class="ion-justify-content-center">
           <ion-col size="10">
            <div class="add">
               <ion-label class="ion-text-wrap">
                  <ion-icon class="icon-32" name="add-circle-sharp" color="success"></ion-icon>
                  <h3 class="text-white">Cargar Imagen</h3>
               </ion-label>
            </div>
         </ion-col>
         <ion-col size="10" class="position-buttom">
            <ion-button class="ion-text-capitalize" size="small" expand="block" color="success">
               Reportar Pago
            </ion-button>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>
   <ion-toolbar>
   <ion-tabs>
      <ion-tab-bar slot="bottom">
         <ion-tab-button tab="cartera" (click)="wallet()">
            <ion-icon name="wallet-sharp"></ion-icon>
            <ion-label>Cartera</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="tarjetas" (click)="selectCard()">
            <ion-icon name="card-sharp"></ion-icon>
            <ion-label>Tarjetas</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="enviar">
            <ion-icon name="swap-horizontal-sharp"></ion-icon>
            <ion-label>Enviar</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="fondos">
            <ion-icon name="add-circle-sharp"></ion-icon>
            <ion-label>Añadir Fondos</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="mas">
            <ion-icon name="list"></ion-icon>
            <ion-label>Más</ion-label>
         </ion-tab-button>
      </ion-tab-bar>
   </ion-tabs>
  </ion-toolbar>