<ion-content>

  <h2 style="margin-left: 20px; margin-top:40px; color: #1e3799; font-weight: bold;">Invite your friends</h2>

  <p class="ion-text-center">
    <img src="assets/gift.jpg" alt="" style="width: 100%;">
  </p>

  <h4 class="ion-text-center" style="padding-left: 20px; padding-right: 20px; color: #8395a7;">Give your friend a free transfer by sharing TransferWise with them</h4>
  <ion-button expand="block" fill="outline" color="secondary" style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">Invite a friend</ion-button>
  <ion-button expand="block" fill="outline" color="secondary" style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">Copy my invite link</ion-button>

</ion-content>
