.card-padding{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

/*.bold{
    color: #1e3799;
    font-weight: bold;
}*/

ion-card{
    width: 100%;
}

.w-100{
    width: 100%;
}

.background-image{
    position: absolute;
}

.fnt-16{
    font-size: 16px;
}

.fnt-12{
    font-size: 12px;
}

#bg-gradient{
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
    padding-bottom: 1rem;
}