<ion-content>

  <div id="bg-gradient" *ngIf="user != null">
    <div class="card-padding">

      <ion-card *ngIf="user.account_verified_at == null">
        <ion-card-content>
          
          <h3 class="ion-text-center bold" >Hola {{ user.email }}</h3>
          
          <p class="ion-text-center" *ngIf="identityData == null">Aún no validas tu identidad</p>
          <p class="ion-text-center" *ngIf="identityData != null && identityData.verified == false">En espera de validación de identidad</p>
          <p class="ion-text-center" *ngIf="identityData != null && identityData.verified == true && addressData == null">Aún no validas tu dirección</p>
          <p class="ion-text-center" *ngIf="identityData != null && identityData.verified == true && addressData != null && addressData.verified == false">En espera de validación de dirección</p>

          <p class="ion-text-center">
            <ion-button (click)="goToAccount()" *ngIf="identityData == null">Validar</ion-button>
        
            <ion-button (click)="goToAddress()" *ngIf="identityData != null && identityData.verified == true && addressData == null">Validar</ion-button>
            
          </p>
        
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="user.account_verified_at !== null">
        <ion-card-content>
          
          <h3 class="ion-text-center bold" >Hola {{ user.name }}</h3>
          
          <div class="ion-text-center" style="margin-top: 15px;">

            <ion-button color="primary">
              <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
              Crear Orden
            </ion-button>

          </div>
        
        </ion-card-content>
      </ion-card>


    </div>  
  </div>


  <div class="card-padding">
    <p class="ion-text-center">
      <img src="assets/undraw_data_xmfy.png" alt="" style="width: 40%; margin-top: 30px;" />
    </p>
    <h2 class="bold ion-text-center fnt-16">Aquí podrás ver todos tus movimientos</h2>
    <p class="ion-text-center fnt-12">Aún no has realizado ningúna acción</p>
  </div>

</ion-content>
