<ion-header>
   <ion-toolbar>
      <ion-title class="text-white">Verificar identidad</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
   <ion-grid>
      <ion-row class="ion-justify-content-center">
         <ion-col size="10">
            <h5 class="ion-text-center text-white ion-no-padding">Verificar teléfono</h5>
         </ion-col>
         <ion-col size="5" class="fullheight xc">
            <ion-img class="image-ico" [src]="'../../../assets/icono-3.png'"></ion-img>
         </ion-col>
         <ion-col size="10">
            <h6 class="ion-text-center small-text ion-no-padding">Indica aquí tu número de teléfono y te enviaremos un código de seguridad.</h6>
         </ion-col>
         <ion-col size="4">
            <ion-label>
               <h6 class="ion-text-justify small-text ion-no-padding ion-no-margin">introduce el código</h6>
            </ion-label>
            <ion-select color="light" class="input">
               <ion-select-option value="56" checked="true">+56</ion-select-option>
            </ion-select>
         </ion-col>
         <ion-col size="6">
            <ion-label>
               <h6 class="ion-text-justify ion-no-padding ion-no-margin text-color-background">introduce el código</h6>
            </ion-label>
            <ion-input color="light"  class="input" placeholder="+56 8542 4369"></ion-input>
         </ion-col>
         <ion-col size="10">
            <ion-button class="ion-text-capitalize ion-activatable ripple-parent" size="small" expand="block" color="success">
               Enviar Código
               <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
         </ion-col>
         <ion-col size="7">
            <ion-label>
               <h6 class="ion-text-center small-text ion-no-padding ion-no-margin">introduce el código</h6>
            </ion-label>
            <ion-input color="light" class="input"></ion-input>
         </ion-col>
         <ion-col size="10" style="position:absolute; top: 80%;">
            <ion-button class="ion-text-capitalize ion-activatable ripple-parent" size="small" expand="block" color="success">
               Continuar
               <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
         </ion-col>
      </ion-row>
   </ion-grid>
   <ion-tabs>
      <ion-tab-bar slot="bottom">
         <ion-tab-button tab="cartera">
            <ion-icon name="wallet-sharp"></ion-icon>
            <ion-label>Cartera</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="tarjetas">
            <ion-icon name="card-sharp"></ion-icon>
            <ion-label>Tarjetas</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="enviar">
            <ion-icon name="swap-horizontal-sharp"></ion-icon>
            <ion-label>Enviar</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="fondos">
            <ion-icon name="add-circle-sharp"></ion-icon>
            <ion-label>Añadir Fondos</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="mas">
            <ion-icon name="list"></ion-icon>
            <ion-label>Más</ion-label>
         </ion-tab-button>
      </ion-tab-bar>
   </ion-tabs>
</ion-content>