<ion-header>
   <ion-toolbar>
      <ion-title class="text-white ion-text-center">COL</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
   <ion-grid>
      <ion-row class="ion-justify-content-center">
         <ion-col size="10" >
            <ion-item id="country-item" color="transparent" class="border-bottom-white">
               <ion-label color="light">País Banco Destinatario</ion-label>
               <ion-select color="light" [(ngModel)]="country" cancelText="Cancelar">
               <ion-select-option value="{{country.id}}" *ngFor="let country of countries">{{ country.name }}</ion-select-option>
               </ion-select>
            </ion-item>
            <ion-item id="country-item" color="transparent" class="border-bottom-white">
               <ion-label color="light">Nombre del Banco del Destinatario</ion-label>
               <ion-select color="light">
                  <ion-select-option value="1" checked="true">Banco 1</ion-select-option>
                  <ion-select-option value="2" checked="true">Banco 2</ion-select-option>
               </ion-select>
            </ion-item>
            <ion-item color="transparent" class="border-bottom-white">
               <ion-label position="floating">Código SWIFT</ion-label>
               <ion-input></ion-input>
            </ion-item>
            <ion-item color="transparent" class="border-bottom-white">
               <ion-label position="floating">Dirección del Banco</ion-label>
               <ion-input></ion-input>
            </ion-item>
            <ion-item color="transparent" class="border-bottom-white">
               <ion-label position="floating"> Número de cuenta del destinatario</ion-label>
               <ion-input></ion-input>
            </ion-item>
            <ion-radio-group  class="ion-no-margin ion-no-pading">
               <ion-list-header color="transparent" class="ion-no-margin ion-no-pading">
                  <ion-label class="text-white ion-no-margin ion-no-pading">
                     Tipo de cuenta bancaria
                  </ion-label>
               </ion-list-header>
               <ion-item  color="transparent" class="">
                  <ion-label>Corriente</ion-label>
                  <ion-radio value="Corriente"></ion-radio>
               </ion-item>
               <ion-item  color="transparent" class="ion-no-margin ion-no-pading">
                  <ion-label>Ahorros</ion-label>
                  <ion-radio value="Ahorros"></ion-radio>
               </ion-item>
            </ion-radio-group>
         </ion-col>
         <ion-col size="10" class="position-buttom">
            <ion-button class="ion-text-capitalize ion-activatable ripple-parent" size="small" expand="block" color="success">
               Continuar
               <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
         </ion-col>
      </ion-row>
   </ion-grid>
   <ion-tabs>
      <ion-tab-bar slot="bottom">
         <ion-tab-button tab="cartera" (click)="wallet()">
            <ion-icon name="wallet-sharp"></ion-icon>
            <ion-label>Cartera</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="tarjetas" (click)="selectCard()">
            <ion-icon name="card-sharp"></ion-icon>
            <ion-label>Tarjetas</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="enviar">
            <ion-icon name="swap-horizontal-sharp"></ion-icon>
            <ion-label>Enviar</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="fondos">
            <ion-icon name="add-circle-sharp"></ion-icon>
            <ion-label>Añadir Fondos</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="mas">
            <ion-icon name="list"></ion-icon>
            <ion-label>Más</ion-label>
         </ion-tab-button>
      </ion-tab-bar>
   </ion-tabs>
</ion-content>

