

<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="activity">
			<ion-icon name="list"></ion-icon>
			<ion-label>Activity</ion-label>
		</ion-tab-button>
	
		<ion-tab-button tab="account">
			<ion-icon name="card-outline"></ion-icon>
			<ion-label>Account</ion-label>
		</ion-tab-button>
	
		<ion-tab-button tab="send">
			<ion-icon name="cash-outline"></ion-icon>
			<ion-label>Send</ion-label>
		</ion-tab-button>
	
		<ion-tab-button tab="recipients">
			<ion-icon name="people-outline"></ion-icon>
			<ion-label>Recipients</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="invite">
			<ion-icon name="gift-outline"></ion-icon>
			<ion-label>Invite</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>

