<ion-content>

	<ion-grid>
		

		<ion-row class="ion-justify-content-center">

			<ion-col size="5" style="margin-top: 5rem; ">

				<ion-img [src]="'../../../assets/Logo.png'"></ion-img>

			</ion-col>

			<ion-col size="10" style="margin-top: 5rem; margin-bottom: 1rem;">

				<h6 class="ion-text-center" style="color: #fff">Restablecer contraseña</h6>

			</ion-col>

			<ion-col size="10">
				
				<ion-item color="transparent" style="border-bottom: 1px solid #fff;">

					<ion-label color="light" position="floating">Email</ion-label>
					<ion-input color="light" [(ngModel)]="email"></ion-input>

				</ion-item>

			</ion-col>

			<ion-col size="5">

				<ion-button class="ion-text-capitalize" size="small" expand="block" color="medium">Enviar</ion-button>

			</ion-col>

			<ion-col size="5">

				<ion-button class="ion-text-capitalize" size="small" expand="block" color="medium" (click)="cancel()">Cancelar</ion-button>
				
			</ion-col>


		</ion-row>

	</ion-grid>



</ion-content>
