ion-grid{
    padding-left: 10px;
    padding-right: 10px;
}

ion-label{
    --color: #fff !important;
    color:#fff !important;
}

p{
    color:#3dc2ff;
}

.text-center{
    text-align: center;
}

ion-content{
    --ion-background-color: #22b573;
}

ion-header{
    --ion-background-color: #22b573;
}