<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-content>

	<ion-grid>
		
		<!--<ion-row>
			<ion-col>
				<h2 class="ion-text-center" style="color: #fff">Entra</h2>
			</ion-col>
		</ion-row>-->

		<ion-row class="ion-justify-content-center">
			<ion-col size="5" style="margin-top: 5rem; ">
				<ion-img [src]="'../../../assets/logo.png'"></ion-img>
			</ion-col>
			<ion-col size="10" style="margin-top: 5rem; margin-bottom: 1rem;">
				
				<ion-item color="transparent">
					<ion-label position="floating">Email</ion-label>
					<ion-input  [(ngModel)]="email"></ion-input>
				</ion-item>

				<ion-item color="transparent">
					<ion-label position="floating">Contraseña</ion-label>
					<ion-input  type="{{ inputType }}" [(ngModel)]="password"></ion-input>
					<ion-button slot="end" color="transparent" style="margin-top: 20px;" (click)="toggleShowPassword()">
						<ion-icon name="eye" *ngIf="!showPassword"></ion-icon>
						<ion-icon name="eye-off" *ngIf="showPassword"></ion-icon>
					</ion-button>
				</ion-item>

			</ion-col>

			<ion-col size="7">
			    <ion-button class="ion-text-capitalize" size="small" expand="block" color="medium"  (click)="login()">Entrar</ion-button>
			</ion-col>

			<ion-col size="7">
				<ion-button  class="ion-text-capitalize" size="small" expand="block" color="medium" (click)="passwordForgot()">Olvide mi contraseña</ion-button>
			</ion-col>

			<ion-col size="7">
				<ion-button class="ion-text-capitalize" size="small" expand="block" color="medium" (click)="register()">Registro</ion-button>
			</ion-col>

		</ion-row>

	</ion-grid>



</ion-content>
