ion-grid{
    padding-left: 10px;
    padding-right: 10px;
}

span{
    color:#3dc2ff;
}

.my-custom-class {
    color: green;
}

ion-label{
    --color: #fff !important;
    color:#fff !important;
}

h2{
    color: #fff;
}

ion-input{
    color: #fff;
}

p{
    font-size: 10px;
}

.text-center{
    text-align: center;
}

ion-content{
    --ion-background-color: #18222e;
}

ion-header{
    --ion-background-color: #18222e;
}

ion-select{
    color: white !important;
}

.active {
    height: 5px;
    width: 100%;
    background-color: #199c36;
}

.inactive {
    height: 5px;
    width: 100%;
    background-color: #fff;
}
