<ion-content>

	<ion-grid>

		<ion-row class="ion-justify-content-center">

			<ion-col size="5" class="ion-margin-top">

				<ion-img [src]="'../../../assets/Logo.png'"></ion-img>

			</ion-col>

			<ion-col size="12" style="margin-top: 3rem; margin-bottom: 1rem;">

				<h5 class="text-center text-white">Bienvenido</h5>

			</ion-col>

			<ion-col size="5" (click)="typeUserSelect(1)">
				<ion-label color="light">Persona</ion-label>
				<div class="active" *ngIf="typeUser == 1"></div>  
				<div class="inactive" *ngIf="typeUser != 1"></div>   
			</ion-col>

		    <ion-col size="5" (click)="typeUserSelect(2)">
				<ion-label color="light">Empresa</ion-label> 
				<div class="active" *ngIf="typeUser == 2"></div>  
				<div class="inactive" *ngIf="typeUser != 2"></div>      
			</ion-col>
            
			<ion-col size="10">

				<!--<ion-item id="country-item" color="transparent">
          			<ion-label color="light">País de origen</ion-label>
					<ion-select color="light" [(ngModel)]="country" cancelText="Cancelar" >
						<ion-select-option value="{{country.id}}" *ngFor="let country of countries">{{ country.name }}</ion-select-option>
					</ion-select>
				</ion-item>-->

				<ion-item color="transparent" style="border-bottom: 1px solid #fff;">
					<ion-label color="light" position="floating">Email</ion-label>
					<ion-input color="light" [(ngModel)]="email"></ion-input>
				</ion-item>

				<ion-item color="transparent" style="border-bottom: 1px solid #fff;">
					<ion-label color="light" position="floating">contraseña</ion-label>
					<ion-input color="light" type="password" [(ngModel)]="password"></ion-input>
				</ion-item>

				<!--<small style="font-size: 10px;">El campo contraseña debe tener al menos 8 caracteres, entre mayúscula, minúscula, números y un carácter especial.</small>-->

				<ion-item color="transparent" style="border-bottom: 1px solid #fff;">
					<ion-label color="light" position="floating">Repite la contraseña</ion-label>
					<ion-input color="light" type="password" [(ngModel)]="passwordConfirmation"></ion-input>
				</ion-item>

				<p class="text-center">
					<small style="font-size: 8px; color: #fff">El campo contraseña debe tener al menos 8 caracteres, entre mayúscula, minúscula, números y un caracter especial.</small>
				</p>
				<ion-item color="transparent" lines="none" class="ion-no-padding">
                   <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
                   <ion-label class="ion-text-wrap ion-text-center ion-no-padding"><small style="font-size: 12px;">Acepto los terminos y condiciones de andrean Wide.</small></ion-label>
                </ion-item>

			</ion-col>

			<ion-col size="5">

				<ion-button class="ion-text-capitalize ion-activatable ripple-parent" size="small" expand="block" color="medium" (click)="register()">
					
					Regístrate

				   <ion-ripple-effect></ion-ripple-effect>
				   
				</ion-button>
				
			</ion-col>

			<ion-col size="5">

				<ion-button class="ion-text-capitalize" size="small" expand="block" color="medium" (click)="cancel()">Cancelar</ion-button>
				
			</ion-col>
		</ion-row>



	</ion-grid>



</ion-content>

