<ion-content>

  <h2 class="ion-text-center">Dirección</h2>

  <p class="ion-text-center">
    <img src="assets/undraw_my_location_f9pr.png" alt="" style="width: 80%;">
  </p>

  <ion-item>
    <ion-label>País de Origen</ion-label>
    <ion-select [(ngModel)]="country" cancelText="Cancelar">
      <ion-select-option value="{{country.id}}" *ngFor="let country of countries">{{ country.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Estado/Región/Provincia</ion-label>
    <ion-input type="text" [(ngModel)]="state"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ciudad</ion-label>
    <ion-input type="text" [(ngModel)]="city"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Codigo postal</ion-label>
    <ion-input type="number" [(ngModel)]="cod"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Dirección</ion-label>
    <ion-input type="text" [(ngModel)]="address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Dirección (continuación)</ion-label>
    <ion-input type="text" [(ngModel)]="address_ext"></ion-input>
  </ion-item>
  
  <ion-item>
    <p>Imagen prueba de residencia</p>
    <input type="file" name="file" id="image" class="inputfile" style="display:none" accept="image/*" (change)="convertBase64($event)"/>
    <ion-button color="success" (click)="presentActionSheet()">Subir imagen</ion-button>
  </ion-item>

  <ion-item>
    <img [src]="image" alt="" class="image-input">
  </ion-item>

    <ion-button expand="full" (click)="verify()" style="margin-top: 10px;">Verificar</ion-button>


</ion-content>
