<ion-header>
   <ion-toolbar>
      <ion-title class="text-white ion-text-center">Tarjetas</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
   <ion-grid>
      <ion-row class="ion-justify-content-center">
         <ion-col size="10">
            <h4 class="ion-text-center ion-no-padding text-white">Solicitar Tarjeta Andean Wide</h4>
         </ion-col>
         <ion-col size="10">
           <ion-item color="transparent" lines="none" (click)="card()">
            <div class="add">
               <ion-label class="ion-text-wrap">
                  <ion-icon class="icon-32" name="add-circle-sharp" color="success"></ion-icon>
               </ion-label>
            </div>
           </ion-item>
         </ion-col>
         <ion-col size="10" class="ion-no-margin">
	   <span class="ion-text-justify ion-no-padding  ion-no-margin ion-text-capitalize small-text">Pagos en Linea</span>
         </ion-col>
         <ion-col size="10" class=" ion-no-margin">
	   <span class="ion-text-justify ion-no-padding  ion-no-margin  small-text2">Compre fácilmente en línea.</span>
         </ion-col>
         <ion-col size="10" class="ion-no-padding">
	   <span class="ion-text-justify ion-no-padding  ion-no-margin small-text">Aceptado en todo el mundo</span>
         </ion-col>
         <ion-col size="10" class="ion-no-margin">
	   <span class="ion-text-justify ion-no-padding  ion-no-margin  small-text2">Se acepta en todo el mundo.</span>
         </ion-col>
         <ion-col size="10" class="ion-no-margin">
	   <span class="ion-text-justify ion-no-padding  ion-no-margin small-text">Pagos sin contacto</span>
         </ion-col>
         <ion-col size="10" class="ion-no-padding">
	   <span class="ion-text-justify ion-no-padding  ion-no-margin small-text2">Pague con solo un toque.</span>
         </ion-col>
         <ion-col size="10">
	   <h5 class="ion-text-center ion-no-padding ion-margin-buttom ion-text-uppercase small-text">MUY PRONTO</h5>
         </ion-col>
         <ion-col size="10" style="position:absolute; top: 80%;">
            <ion-button class="ion-text-capitalize ion-activatable ripple-parent" size="small" expand="block" color="success">
               Continuar
               <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
         </ion-col>
      </ion-row>
   </ion-grid>
   <ion-tabs>
      <ion-tab-bar slot="bottom">
         <ion-tab-button tab="cartera" (click)="wallet()">
            <ion-icon name="wallet-sharp"></ion-icon>
            <ion-label>Cartera</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="tarjetas" (click)="selectCard()">
            <ion-icon name="card-sharp"></ion-icon>
            <ion-label>Tarjetas</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="enviar">
            <ion-icon name="swap-horizontal-sharp"></ion-icon>
            <ion-label>Enviar</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="fondos">
            <ion-icon name="add-circle-sharp"></ion-icon>
            <ion-label>Añadir Fondos</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="mas">
            <ion-icon name="list"></ion-icon>
            <ion-label>Más</ion-label>
         </ion-tab-button>
      </ion-tab-bar>
   </ion-tabs>
</ion-content>
