<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center text-white">Seguridad de la Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="ion-justify-content-center">

      <ion-col size="5" style="margin-top: 2rem;">

        <h4 class="ion-text-center text-white ion-no-padding">Face ID</h4>

        <ion-img [src]="'../../../assets/icono-1.png'"></ion-img>
        
      </ion-col>
      
      <ion-col size="8">


        <h4 class="ion-text-center text-white">Inicia sesión más rápido con Face ID</h4>
        

      </ion-col>

      <ion-col size="8">

        <h6 class="ion-text-center small-text ion-no-padding">Añade seguridad extra a tu aplicacón de AndreanWide.</h6>

      </ion-col>

      <ion-col size="7">

        <ion-button  class="ion-text-capitalize" size="small" expand="block" color="medium">Configurar Face ID</ion-button>
        
			</ion-col>

			<ion-col size="7">

        <ion-button class="ion-text-capitalize" size="small" expand="block" color="medium">Ahora no</ion-button>
        
			</ion-col>

    </ion-row>

  </ion-grid> 

</ion-content>
