ion-content {
    --ion-background-color: #18222e;
}

ion-header {
    --ion-background-color: #18222e;
}

ion-label {
    --color: #fff !important;
    color: #fff !important;
}

.small-text{

    font-size: 13px;

    text-align: center !important;

    color:gray;
}

.text-white {
    color: #fff;
}
