/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.alert-custom button{
    background-color: #22b573 !important;
    color: #fff !important;
}

.alert-custom button{
  background-color: unset !important;
  color: #909ca1 !important;
  font-weight: bold;
}

ion-alert {
  
  
    // checkbox border color
    [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
      border-color: #22b573;
    }

    // checkbox or radio button color
    .alert-radio-inner.sc-ion-alert-md {
      background-color: #22b573 !important;
    }
  
    // wrap the text
    .alert-radio-label.sc-ion-alert-md {
      color: var(--ion-text-color, #22b573);
      //font-weight: bold;
    }


    // Button color
    .alert-button-group button:nth-child(2) .alert-button-inner.sc-ion-alert-md {
      color: #fff;
      background-color: #22b573;
      padding: 10px;
    }
}

.picker-opt.picker-opt-selected, .picker-prefix, .picker-suffix {
  color: #22b573;
}

.picker-button.sc-ion-picker-md, .picker-button.activated.sc-ion-picker-md {
  color: #22b573;
}

.ion-color-primary2 {
  --ion-color-base: var(--ion-color-primary2) !important;
  --ion-color-base-rgb: var(--ion-color-primary2-rgb) !important;
  --ion-color-contrast: var(--ion-color-primary2-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-primary2-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-primary2-shade) !important;
  --ion-color-tint: var(--ion-color-primary2-tint) !important;
}

.ion-color-primary2 {
  --ion-color-base: var(--ion-color-primary2) !important;
  --ion-color-base-rgb: var(--ion-color-primary2-rgb) !important;
  --ion-color-contrast: var(--ion-color-primary2-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-primary2-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-primary2-shade) !important;
  --ion-color-tint: var(--ion-color-primary2-tint) !important;
}

.ion-color-medium2 {
  --ion-color-base: var(--ion-color-medium2) !important;
  --ion-color-base-rgb: var(--ion-color-medium2-rgb) !important;
  --ion-color-contrast: var(--ion-color-medium2-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-medium2-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-medium2-shade) !important;
  --ion-color-tint: var(--ion-color-medium2-tint) !important;
}

.ion-color-success2 {
  --ion-color-base: var(--ion-color-success2) !important;
  --ion-color-base-rgb: var(--ion-color-success2-rgb) !important;
  --ion-color-contrast: var(--ion-color-success2-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-success2-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-success2-shade) !important;
  --ion-color-tint: var(--ion-color-success2-tint) !important;
}

.ion-color-transparent {
  --ion-color-base: var(--ion-color-transparent) !important;
  --ion-color-base-rgb: var(--ion-color-transparent-rgb) !important;
  --ion-color-contrast: var(--ion-color-transparent-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-transparent-shade) !important;
  --ion-color-tint: var(--ion-color-transparent-tint) !important;
}
