<ion-content [fullscreen]="true">
	<ion-slides style="margin-top: 2rem;" pager="true" [options]="slideOpts">	
		<ion-slide>
            <ion-row class="ion-justify-content-center" >
				<ion-col size="10">
                   <ion-img [src]="'../../assets/guardar.png'"></ion-img>
				</ion-col>
				<ion-col size="11">
				   <h3 style="padding-left: 15px; padding-right: 15px;">Guardar y convierte diferentes monedas en segundos</h3> 
				     <ion-label class="ion-text-wrap" color="medium">
    					Podras activar difrentes monedasen tus balances de andea wide y convertir tu dinero de una a otra con tan solo un click
  					 </ion-label> 
		        </ion-col>
			</ion-row>       
       </ion-slide>	
		<ion-slide>
            <ion-row class="ion-justify-content-center" >
				<ion-col size="10">
                   <ion-img [src]="'../../assets/enviar.png'"></ion-img>
				</ion-col>
				<ion-col size="11">
				   <h3 style="padding-left: 15px; padding-right: 15px;">Enviar dinero nunca fue tan facil</h3> 
				     <ion-label class="ion-text-wrap" color="medium">
    					realiza todas tus transferencias con la app de andean wide, donde quiera qur estes solo con un click
  					 </ion-label> 
		        </ion-col>
			</ion-row>       
       </ion-slide>	
	    <ion-slide>
            <ion-row class="ion-justify-content-center" >
				<ion-col size="10">
                   <ion-img [src]="'../../assets/balance.png'"></ion-img>
				</ion-col>
				<ion-col size="11">
				   <h3 style="padding-left: 15px; padding-right: 15px;">Podras abrir balances en CLP, USD Y EUR de Andean Wide </h3> 
				     <ion-label class="ion-text-wrap" color="medium">
    					La manera mas facil de enviar y recibir pagos y ademas podras ahorrar tu dinero en moneda fuerte,
  					 </ion-label> 
		        </ion-col>
			</ion-row>       
       </ion-slide>
	</ion-slides>
	<ion-grid >
		<ion-row class="ion-justify-content-center">
		  <ion-col size="6">
			<ion-button class="ion-text-capitalize" color="success" expand="block" (click)="login()">Entra</ion-button>
		  </ion-col>
		  <ion-col size="6">
			<ion-button class="ion-text-capitalize" color="success" expand="block" (click)="register()">Registrate</ion-button>
		  </ion-col>
		  <ion-col>
			<ion-button class="ion-text-capitalize" expand="block" color="medium">Iniciar sesión Apple</ion-button>
		  </ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
